{{> layout/header}}

<div class="container p-5">

    <form name="form" method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="imageFile"/>
        <input type="submit" id="submit" value="전송"/>
    </form>

    <div></div>

</div>

{{> layout/footer}}